body {
    background: hwb(225 8% 32%);
    
}

p {
    color: hwb(0 0% 100%);
}

h1 {
    font-weight: bold;
}

.container {
    margin: 100px 0 0 220px;
    width: 75%;
    height: 455px; /* Fixed: Added missing semicolon */
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid hsl(0, 0%, 100%); /* Fixed: Added missing semicolon */
    transition: all ease-in-out 0.5s; /* Fixed: Corrected "transitio" to "transition" */
}

.container img:hover {
    width: 25%;
}